- if user_signed_in?
  = link_to('Logout', destroy_user_session_path, method: :delete, class: 'button--logout')
- else
  = link_to('Login', new_user_session_path, class: 'button--logout')
%h1 Hello #{current_user.email}
%p Please find list of your monitored wallets attached

%table
  %thead
    %tr
      %th Wallet address
      %th Number of transactions
      %th Balance
      %th
  - if @wallets.present?
    - @wallets.each do |wallet|
      %tbody
        %tr
          %td= wallet[:account]
          -# TODO: Get real count value
          %td 4
          %td= "#{wallet[:balance]} ETH"
          %td= link_to 'Show', wallets_path(account: wallet[:account])
= link_to 'Add Wallet', new_wallets_path, class: 'button'



