.layout__content
  %h2 Create wallet
  %label Wallet address

  - if flash[:error].present?
    = flash[:error]

  = simple_form_for(:wallets, url: wallets_path) do |f|
    %br/
    = f.input :address, label: false
    = f.button :submit, "Add Wallet"
