- if user_signed_in?
  = link_to('Logout', destroy_user_session_path, method: :delete, class: 'button--logout')
- else
  = link_to('Login', new_user_session_path, class: 'button--logout')
%h3 Transactions for #{@address}

.row.stats
  .column
    %strong Summary:
  .column
    %strong= @count
    Transactions
  .column
    %strong #{@balance} ETH
    Balance

%table
  %thead
    %tr
      %th Details
      %th Amount (ETH)
      %th Fee (ETH)
      %th Date
  %tbody
    - @transactions.each do |tran|
      - if tran[:from] == @address
        %tr.transaction-outcoming
          %td
            %i.fas.fa-arrow-down
            Transfer to
            = tran[:to]
          %td #{tran[:amounth]} ETH
          %td #{tran[:fee]} ETH
          %td= tran[:diff]
      - else
        %tr.transaction-incoming
          %td
            %i.fas.fa-arrow-up
            Transfer from
            = tran[:from]
          %td #{tran[:amounth]} ETH
          %td #{tran[:fee]} ETH
          %td= tran[:diff]
= button_tag "Change currency to PLN", onclick: "changeCurrency()", class: 'button'
= link_to 'Back to your wallets', authenticated_root_path
|
= button_to 'Remove wallet', wallets_path(@address), method: 'delete'
